<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information  -->
  <title>Wiki Maps</title>

  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
  </script>



  <!-- App CSS -->
  <link
    rel="stylesheet"
    href="/vendor/normalize-4.1.1.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/vendor/border-box.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/main.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/layout.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/showcase.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/createmap.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/header.css"
    type="text/css" />

  <!-- External JS -->



  <!-- App JS -->
  <script
    type="text/javascript"
    src="/vendor/jquery-3.0.0.js">
  </script>
  <script
    type="text/javascript"
    src="/scripts/app.js">
  </script>
</head>


<body>
  <!-- Page Header -->
  <header
    id="page_head">
    <span>
      apptitle
    </span>
  </header>

  <!-- Page-specific (main) content here -->
  <main
    class="main_container">

    <!-- Showcase Horizontal Scroll -->
    <div class="container">
    <button id="scrollbutton">
    </button>
    <div
      id="showcase">
        <div class="thumbnail">text</div>
        <div class="thumbnail">text2</div>
        <div class="thumbnail">text3</div>
     </div>
     <button id="scrollbutton2">
    </button>
      </section>
    </div>
  </div>

    <!-- CONTAINER for CONTAINING BUTTONS/INTERACTIVE MAPS -->
    <div class="container_box">
      <div class="container">
        <div class="box">
          <section id="create_map">
            <div id="map"></div>
              <button type="button" class="block">Food</button>
              <button type="button" class="block">Hikes</button>
              <button type="button" class="block">Landmarks</button>
              <button type="button" class="block">Schools</button>
              <button type="button" class="block">Parks</button>
            </div>
          </section>
        </div>

      <div>

    </div>

      <section
        id="footer">
      </section>
    </div>

  </main>
</body>

</html>
