<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information  -->
  <title>Wiki Maps</title>

  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
  </script>
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"/>
  <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin/>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>

  <!-- App CSS -->
  <link
    rel="stylesheet"
    href="/vendor/normalize-4.1.1.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/vendor/border-box.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/main.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/layout.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/showcase.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/createmap.css"
    type="text/css" />
  <link
    rel="stylesheet"
    href="/styles/header.css"
    type="text/css" />

  <!-- External JS -->



  <!-- App JS -->
  <script
    type="text/javascript"
    src="/vendor/jquery-3.0.0.js">
  </script>
  <script
    type="text/javascript"
    src="/scripts/app.js">
  </script>
  <script
    type="text/javascript"
    src="/scripts/showcase_scrollbar.js">
  </script>
  <script
    type="text/javascript"
    src="/scripts/createmap.js">
</script>
</head>



<body>

  <!-- Page Header -->
  <header
    id="page_head">
    <span id="title_header">
      A MORE SUPERIOR VERSION OF GOOGLE MAPS.
    </span>
  </header>

  <!-- Page-specific (main) content here -->
  <main
    class="main_container">

    <!-- Showcase Horizontal Scroll -->
    <div class="container">
    <button
      id="scrollButtonLeft">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <div
      id="showcase">

     </div>
     <button
      id="scrollButtonRight">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </section>
</div>
</div>

    <!-- CONTAINER for CONTAINING BUTTONS/INTERACTIVE MAPS -->
    <div class="container_box">
      <div id="createmapbuttons">
        <section id="create_map">
          <!-- <div id="map"></div> -->
          <button class="block" id="food">Food</button>
          <button class="block" id="hikes">Hikes</button>
          <button class="block" id="landmarks">Landmarks</button>
          <button class="block" id="schools">Schools</button>
          <button class="block" id="parks">Parks</button>
        </section>

      </div>
      <div class="map_container">
        <div id="map2">
        <button id="pinIcon">
        <i class="fa-solid fa-map-pin"></i>
        </button>
        <button id="deleteIcon">
        <i class="fa-regular fa-trash-can"></i>
        </button>
        <button id="editIcon"
                method="POST"
                action="/editMap">
        <i class="fa-regular fa-pen-to-square"></i>
        </button>

        <div id="center_hideform">
          <form action="/action_page.php" id="tag-information">
              <br>Pin Name:
              <input
                type="text"
                placeholder="Tag title" id="Tag-title">
              <br>
              <br>Image URL:
              <input
                type="text"
                placeholder="Image url link" id="Image-url-link">
              <br><br>
              <input
                type="submit"  value="Insert Pin">
          </form>
        </div>

      <div id="titleTable">
        <form
          id="titleForm"
          action="/"
          method="POST">
          <div>
          <br>Title:
          <input
            id="titleInput"
            type="text"
            placeholder="Title">
          <br>Cover Photo:
          <input
            id="coverImageInput"
            type="text"
            placeholder="Cover Photo URL">
            <br>
          <input
            type="submit"
            value="Save"
            id="saveButton">
          </div>
        </form>
      </div>


    </div>

      <section
        id="footer">
      </section>
    </div>

  </main>
</body>

  </div>

  <br></br>
  <br></br>
  <br></br>

  <footer>
    <p class="copyright">© TEAM KPS</p>
</footer>
</html>
