//section id create MAP
#create_map {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.block {
  height: 90px;
}

//Container for holding interactive maps/buttons
.container_box {
  display: flex;
  height: 450px;
  align-items: center;;
  grid-template-columns: 40% auto;
  gap: 2rem;
  margin-top: 75px;
  margin-right: 100px;
  margin-left: 100px;
  // border: solid;
}

