// See: https://sass-lang.com/

body,
html {
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 200px;
  width: auto;
  margin-top: 75px;
}
