#showcase {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
}

.thumbnail {
  display:flex;
  flex: 0 0 auto;
  font-style: italic;
  height: 200px;
  width: 275px;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.thumbnail:hover {
  display:flex;
  flex: 0 0 auto;
  font-style: italic;
  height: 200px;
  width: 275px;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border: solid 5px  #f1e6d5;;
}

.thumbnailTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175px;
}

.thumbnailButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175px;
  background-color: #f1e6d5;
}

.thumbnailCategory {
  display: flex;
}

.thumbnailImage {
  display: flex;
  border: solid;
  height: 125px;
  width: 100%;
}

#scrollButtonLeft {
  margin-left: 100px;
  background: transparent;
  border: 0;
}

#scrollButtonRight {
  margin-right: 100px;
  background: transparent;
  border: 0;
}

.highlight {
  border: solid;
  box-shadow: inset;
  height: 100px;
  width: 50px;
}

.fa-angle-left {
  color:rgba(53, 52, 52, 0.459);
  font-size: x-large;
}

.fa-angle-left:hover {
  color:rgba(242, 238, 238, 0.873);
  font-size: x-large;
}

.fa-angle-right {
  color:rgba(53, 52, 52, 0.459);
  font-size: x-large;
}

.fa-angle-right:hover {
  color:rgba(242, 238, 238, 0.873);
  font-size: x-large;
}
