#showcase {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
}

.thumbnail {
  display:flex;
  flex: 0 0 auto;
  font-style: italic;
  height: 200px;
  width: 33.33%;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border: solid;
}

#scrollButtonLeft {
  margin-left: 100px;
  background: transparent;
  border: 0;
}

#scrollButtonRight {
  margin-right: 100px;
  background: transparent;
  border: 0;
}

.highlight {
  border: solid;
  box-shadow: inset;
  height: 100px;
  width: 50px;
}

.fa-angle-left {
  color:tomato;
}

.fa-angle-right {
  color:tomato;
}
